body{
    background-color:#212121;
    color:#fff;
    padding: 0;
    margin: 0;
    
}

#header h1{
    padding:0;
    margin-top: 70px;
    color: #4c4cff;
    font-size: 70px;
    font-family:"Source Sans Pro",Arial,Helvetica,sans-serif;
    text-align: center;
}

#emote{
    background-color:white;
    height:300px;
    width:100%;
    margin: auto;
    margin-top: 70px;
}

#footer p{
    text-align: center;
    font-family:"Source Sans Pro",Arial,Helvetica,sans-serif; 
    margin-top: 7%
}
